# Einf√ºhrung in die k-fache Kreuzvalidierung

In [18]:
import pandas as pd
df = pd.read_csv("auto-mpg.csv")
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [19]:
X = df[["weight", "horsepower"]].values[:5]
Y = df[["mpg"]].values

In [20]:
print(X)

[[3504  130]
 [3693  165]
 [3436  150]
 [3433  150]
 [3449  140]]

In [21]:
X[[0,3]]

array([[3504,  130],
       [3433,  150]], dtype=int64)

In [22]:
from sklearn.model_selection import KFold
KFold?

In [23]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression

cv = KFold(n_splits = 5)

for index_train, index_test in cv.split(X):
    print("train: " + str(index_train))
    print("test: " + str(index_test))
    print("-----------")
    X_test = X[index_test]
    X_train = X[index_train]
    
    y_test = Y[index_test]
    y_train = Y[index_train]
    
    # Lineare Regression trainieren
    model = LinearRegression()
    model.fit(X_train, y_train)

    print(model.score(X_test, y_test))

train: [1 2 3 4]
test: [0]
-----------
0.0
train: [0 2 3 4]
test: [1]
-----------
0.0
train: [0 1 3 4]
test: [2]
-----------
0.0
train: [0 1 2 4]
test: [3]
-----------
0.0
train: [0 1 2 3]
test: [4]
-----------
0.0